* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: white;
  --ac: rgb(218, 169, 106);
}

@font-face {
  font-family: mon;
  src: url("../font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: poppins;
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
body {
  background-color: #222;
  color: white;
  position: relative;
}

.nav-cont1 {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(204, 144, 66, 0.226);
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 1.5em;
}
.nav-cont1 .nav-cont2 {
  display: flex;
  align-items: center;
  place-content: space-between;
  z-index: 2;
  width: 100%;
}
.nav-cont1 .nav-cont2 a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color);
  font-size: 1.2rem;
  z-index: 2;
}
.nav-cont1 .nav-cont2 i {
  font-size: 1.5rem;
  color: var(--color);
  z-index: 2;
  cursor: pointer;
}
.nav-cont1 .nav-cont2 nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.301);
  height: 100vh;
}
.nav-cont1 .nav-cont2 nav ul {
  background-color: var(--ac);
  height: 60vh;
  width: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  transition: 2s;
  animation-name: slide;
  animation-duration: 2s;
}
.nav-cont1 .nav-cont2 nav ul i {
  position: absolute;
  right: 5%;
  font-size: 2rem;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
}
.nav-cont1 .nav-cont2 nav ul li {
  list-style-type: none;
}
.nav-cont1 .nav-cont2 nav ul li a {
  font-family: "poppins";
  text-shadow: 1px 1px 2px black;
}
.nav-cont1 .nav-cont2 nav ul li a:hover {
  text-shadow: 1px 1px 2px rgb(107, 104, 104);
}

section.land-sect {
  height: 100vh;
  background-image: url(../images/Restaurant\ aesthetic.jpeg);
  background-size: cover;
  background-position: right;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0em 1.5em;
}
section.land-sect .text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}
section.land-sect .text-cont h1 {
  font-family: poppins;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 0px black;
}
section.land-sect .text-cont h3 {
  color: white;
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  line-height: 1em;
  font-style: italic;
  font-weight: normal;
}
section.land-sect .text-cont p {
  text-align: right;
  width: 100%;
  color: var(--ac);
  font-family: roboto;
  text-shadow: 0px 0px 2px white;
}
section.land-sect .text-cont i {
  color: var(--ac);
  font-size: 5rem;
  margin-top: 0.5em;
}

section.booking-sect {
  background-color: #222;
  padding: 2em;
}
section.booking-sect p {
  font-size: 0.8rem;
}
section.booking-sect .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
section.booking-sect .container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.booking-sect .container h4 {
  text-align: center;
  color: var(--ac);
  font-family: poppins;
  width: 80%;
}
section.booking-sect .container p.descp {
  text-align: center;
}
section.booking-sect .input-cont {
  background-color: black;
  border: 1.5px solid var(--ac);
  padding: 1em;
  width: 100%;
  border-radius: 1em;
}
section.booking-sect .input-cont input {
  width: 100%;
  border: 1.5px solid var(--ac);
  height: 30px;
  background-color: black;
  color: white;
  font-family: poppins;
  border-radius: 4px;
  padding: 0.5em;
}
section.booking-sect .input-cont label {
  text-transform: uppercase;
}
section.booking-sect .input-cont label i {
  font-size: 0.4rem;
  margin-left: 0.5em;
  color: red;
}
section.booking-sect .input-cont .cont1 p,
section.booking-sect .input-cont .cont2 p {
  display: flex;
  place-content: space-between;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: sans-serif;
}
section.booking-sect .input-cont .cont1 p:nth-child(2),
section.booking-sect .input-cont .cont2 p:nth-child(2) {
  gap: 0.2rem;
}
section.booking-sect .input-cont .cont1 p input,
section.booking-sect .input-cont .cont2 p input {
  width: 50%;
  height: 30px;
}
section.booking-sect .input-cont button {
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: var(--ac);
  font-family: poppins;
}
section.booking-sect .input-cont button:hover {
  background-color: rgb(221, 180, 125);
}
section.booking-sect .input-cont p {
  color: var(--ac);
  text-shadow: 0px 0px 1px white;
}
section.booking-sect p.t {
  color: var(--ac);
  font-size: 1rem;
  text-transform: capitalize;
  font-style: italic;
}

section.footer {
  background-color: black;
}
section.footer .cont1 {
  padding: 1em;
  color: var(--ac);
  font-family: poppins;
  width: 100%;
  border-top: 1px solid var(--ac);
  border-bottom: 1px solid var(--ac);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.footer .tag-cont {
  padding: 1em 1em;
  width: 100%;
}
section.footer .tag-cont ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}
section.footer .tag-cont ul li {
  font-family: mon;
  font-weight: bold;
}
section.footer .tag-cont ul li div i {
  color: steelblue;
}
section.footer .tag-cont ul li div i:nth-child(2) {
  color: pink;
}
section.footer .tag-cont ul li div i:nth-child(3) {
  color: steelblue;
}
section.footer .tag-cont ul li a {
  color: white;
  text-decoration: none;
}
section.footer .tag-cont ul li:first-child {
  color: white;
}
section.footer .tag-cont ul li:first-child span {
  color: var(--ac);
}/*# sourceMappingURL=booking.css.map */