* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
  font-family: "poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
:root {
  --color: white;
  --ac: rgb(218, 169, 106);
  --bg: black;
}

body {
  background-color: var(--bg);
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.nav-cont1 {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 1.5em;
}
.nav-cont1 .nav-cont2 {
  display: flex;
  align-items: center;
  place-content: space-between;
  width: 100%;
}
.nav-cont1 .nav-cont2 a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color);
  font-size: 1.2rem;
}
.nav-cont1 .nav-cont2 i {
  font-size: 1.5rem;
  color: var(--color);
  cursor: pointer;
}
.nav-cont1 .nav-cont2 nav {
  display: none;
}

section.land-sect {
  height: 100vh;
  background-image: url(../images/Restaurant\ aesthetic.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
section.land-sect .cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section.land-sect .cont h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
}
section.land-sect .cont p {
  color: white;
  font-size: 1.1em;
  font-family: "roboto";
  line-height: 1em;
  font-style: italic;
}
section.land-sect .cont a {
  margin-top: 2em;
  padding: 1em;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.2em;
  font-family: "poppins";
  font-weight: bold;
  background-color: var(--ac);
  border-radius: 0.8em;
}
section.land-sect .cont a:hover {
  background-color: rgb(209, 178, 137);
}

article.big-cont {
  display: flex;
  flex-direction: column;
}
article.big-cont section.hero-sect {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2.5em;
}
article.big-cont section.hero-sect .img-cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
article.big-cont section.hero-sect .img-cont1 figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
article.big-cont section.hero-sect .img-cont1 figure figcaption {
  width: 85%;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  margin-top: 0.5em;
  font-style: italic;
}
article.big-cont section.hero-sect .img-cont1 figure img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
}
article.big-cont section.hero-sect .img-cont1 figure:nth-child(3),
article.big-cont section.hero-sect .img-cont1 figure:nth-child(4) {
  display: none;
}
article.big-cont section.hero-sect .story {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
article.big-cont section.hero-sect .story h1 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  word-spacing: 0.1em;
  font-family: "poppins";
  color: var(--ac);
}
article.big-cont section.hero-sect .story p {
  font-family: sans-serif;
}
article.big-cont section.hero-sect .story p:last-child {
  font-weight: bold;
}
article.big-cont .today-spec {
  color: white;
  height: 100vh;
  position: relative;
}
article.big-cont .today-spec h1,
article.big-cont .today-spec h3 {
  text-align: center;
}
article.big-cont .today-spec h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: poppins;
  color: var(--ac);
  margin-top: 0.5em;
}
article.big-cont .today-spec h3 {
  font-size: 1rem;
  font-weight: normal;
}
article.big-cont .today-spec h3 span {
  display: block;
  font-size: 1rem;
}
article.big-cont .today-spec ul {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
article.big-cont .today-spec ul li {
  background-color: #555252;
  border-radius: 0.5em;
  width: 250px;
}
article.big-cont .today-spec ul li img {
  border-radius: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}
article.big-cont .today-spec ul li .text-cont {
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  gap: 1em;
}
article.big-cont .today-spec ul li .text-cont p {
  font-weight: bold;
  font-family: "poppins";
  font-size: 1.2em;
}
article.big-cont .today-spec ul li .text-cont i {
  display: inline;
}
article.big-cont .today-spec ul li .text-cont i p {
  display: inline;
  margin-left: 4em;
  font-size: 0.8rem;
}
article.big-cont .today-spec ul li .text-cont i:first-child {
  margin-bottom: 1.2em;
}
article.big-cont .today-spec ul li i.fa-clock {
  display: block;
  color: var(--ac);
}
article.big-cont .today-spec ul li i.fa-clock p {
  display: inline;
  margin-left: 0.5em;
  font-size: normal;
}
article.big-cont .today-spec ul li i.fa-star-half a {
  text-wrap: nowrap;
  cursor: pointer;
  border-bottom: 2px solid var(--ac);
  text-decoration: none;
  font-family: "poppins";
  margin-left: 3em;
  color: white;
}
article.big-cont .today-spec ul li i.fa-star-half a:hover {
  color: var(--ac);
  border-bottom: none;
}
article.big-cont .today-spec ul li.hidden {
  display: none;
}
article.big-cont .today-spec button {
  position: absolute;
  outline-color: white;
  border-color: white;
}
article.big-cont .today-spec button.one {
  top: 80%;
  left: 15px;
  height: 40px;
  width: 40px;
  padding: 1.2em;
  background-color: rgb(204, 144, 66);
  border-radius: 50%;
  color: white;
}
article.big-cont .today-spec button.one i {
  font-size: 2rem;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.big-cont .today-spec button.one:hover {
  color: rgb(204, 144, 66);
}
article.big-cont .today-spec button.one:hover {
  background-color: white;
}
article.big-cont .today-spec button.two {
  top: 80%;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 1.5em;
  background-color: rgb(204, 144, 66);
  border-radius: 50%;
}
article.big-cont .today-spec button.two i {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
article.big-cont .today-spec button.two i:hover {
  color: rgb(204, 144, 66);
}
article.big-cont .today-spec button.two:hover {
  background-color: white;
}/*# sourceMappingURL=main.css.map */