* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");

  font-family: "poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf");

  // font-family: "mon";
  // src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

:root {
  --color: white;
  --ac: rgb(218, 169, 106);
  --bg: #222;
}

body {
  background-color: var(--bg);
  position: relative;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.nav-cont1 {
  width: 100%;
  //   height: 50px;
  position: fixed;
  top: 0;
  background-color: rgba(204, 144, 66, 0.226);
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 1.5em;

  .nav-cont2 {
    display: flex;
    align-items: center;
    place-content: space-between;
    z-index: 2;
    width: 100%;

    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--color);
      font-size: 1.2rem;
      z-index: 2;
    }

    i {
      font-size: 1.5rem;
      color: var(--color);
      z-index: 2;
      cursor: pointer;
    }

    nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: rgba(0, 0, 0, 0.301);
      height: 100vh;

      ul {
        background-color: var(--ac);
        height: 60vh;
        width: 50%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        transition: 2s;

        i {
          position: absolute;
          right: 5%;
          font-size: 2rem;
        }

        animation-name: slide;
        animation-duration: 2s;

        @keyframes slide {
          0% {
            transform: translateX(100%);
          }
        }

        li {
          list-style-type: none;

          a {
            font-family: "poppins";
            text-shadow: 1px 1px 2px black;

            &:hover {
              text-shadow: 1px 1px 2px rgb(107, 104, 104);
            }
          }
        }
      }
    }
  }
}

section.land-sect {
  height: 100vh;
  background-image: url(../images/Restaurant\ aesthetic.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;

  .cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h1 {
      color: white;
      font-family: sans-serif;
      font-size: 1.8rem;
      text-transform: capitalize;
    }

    p {
      color: white;
      font-size: 1.1em;
      font-family: "roboto";
      line-height: 1em;
      font-style: italic;
    }

    a {
      margin-top: 2em;
      padding: 1em;
      color: rgb(22, 22, 22);
      text-decoration: none;
      font-size: 1.2em;
      font-family: "poppins";
      font-weight: bold;
      background-color: var(--ac);
      border-radius: 0.8em;

      &:hover {
        background-color: rgb(209, 178, 137);
      }
    }
  }
}

article.big-cont {
  display: flex;
  flex-direction: column;

  section.hero-sect {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2.5em;

    .img-cont1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5em;

      figure {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        figcaption {
          width: 85%;
          font-size: 1rem;
          font-family: sans-serif;
          color: white;
          margin-top: 0.5em;
          font-style: italic;
        }

        img {
          object-fit: cover;
          border-radius: 2em;
        }
      }

      figure:nth-child(3),
      figure:nth-child(4) {
        display: none;
      }
    }

    .story {
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1em;

      h1 {
        font-size: 2rem;
        font-weight: normal;
        text-transform: capitalize;
        margin-bottom: 0.5em;
        word-spacing: 0.1em;
        font-family: "poppins";
        color: var(--ac);
      }

      p {
        font-family: sans-serif;

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }

  .today-spec {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    // min-height: 100vh;

    h1,
    h3 {
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      font-weight: normal;
      font-family: poppins;
      color: var(--ac);
      margin-top: 0.5em;
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 2em;

      span {
        // display: block;
        font-size: 1rem;
      }
    }

    .swiper {
      width: 70%;

      .swiper-button-prev,
      .swiper-button-next {
        color: rgb(218, 169, 106);
        text-shadow: 0px 0px 5px black;
        font-weight: bold;
      }

      .swiper-slide {
        height: 360px;
        background-color: #333;
        border-radius: 1em;

        .text-cont {
          width: 100%;
          padding: 1em;
          display: flex;
          flex-direction: column;
          gap: 1em;

          .star {
            display: flex;
            place-content: space-between;

            i {
              color: rgb(218, 169, 106);
            }

            a {
              display: inline;
              border-bottom: 2px solid rgb(218, 169, 106);
              font-family: "poppins";
              font-weight: bold;
              color: white;
              text-decoration: none;

              &:hover {
                color: rgb(218, 169, 106);
                border-bottom: none;
              }
            }
          }

          p {
            &:first-child {
              font-size: 1.1rem;
              font-family: "poppins";
            }
          }

          i.fa-clock {
            color: red;
          }

          p.t {
            color: red;
            font-family: "poppins";
            display: inline;
            margin-left: 1.5em;
            font-size: 0.8rem;
          }
        }
      }

      img {
        border-radius: 1em;
        object-fit: cover;
      }
    }
  }
}

section.discover {
  display: block;
  color: white;
  text-align: center;
  padding: 5em 2em;

  .cont1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;

    h1 {
      font-size: 1.5rem;
      font-family: "poppins";
    }

    p {
      font-family: "mon";
    }

    a {
      padding: 1em 2em;
      color: rgb(22, 22, 22);
      text-decoration: none;
      font-size: 1.2em;
      font-family: "poppins";
      font-weight: bold;
      background-color: var(--ac);
      border-radius: 0.8em;
      margin-top: 0.5em;

      &:hover {
        background-color: rgb(209, 178, 137);
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-family: "poppins";
    text-transform: capitalize;
    color: var(--ac);

    span {
      display: block;
    }
  }
}

section.comments {
  background-image: url("../images/buisness.jpeg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  margin-bottom: 2em;

  h1 {
    text-align: center;
    margin-top: 1.5em;
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px rgb(218, 169, 106);
    font-family: "poppins";
  }

  .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

    .swiper {
      width: 70%;

      .swiper-button-next,
      .swiper-button-prev {
        color: rgb(218, 169, 106);
        text-shadow: 0px 0px 4px white;
        font-weight: bold;

        &:hover {
          color: white;
          text-shadow: 0px 0px 4px rgb (218, 169, 106);
        }
      }

      .comment {
        display: flex;
        gap: 1em;
        color: white;
        flex-direction: column;
        font-family: sans-serif;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.315);
        text-align: center;
        border-radius: 1em;
        padding: 1em 0.5em;

        img {
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}

section.chef {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cont {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-family: "roboto";
    color: white;
    text-transform: capitalize;
    text-align: center;

    img {
      object-fit: cover;
      border-radius: 2em;
    }

    h3 {
      font-weight: bold;
      font-family: "roboto";
    }
  }

  h1 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "poppins";
    color: var(--ac);
    margin: 0.5em;
  }
}

section.gallery {
  width: 100%;
  height: 100%;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h1 {
    font-family: "poppins";
    text-transform: capitalize;
    color: var(--ac);
    font-size: 2rem;
    text-align: center;
  }

  p {
    text-align: center;
    color: white;
    font-family: sans-serif;
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      background-size: cover;
      border-radius: 1.5em;

      img {
        border-radius: 1.5em;
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

section.foot-head {
  padding: 1.5em;
  background-color: #0e0d0d;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-flow: row wrap;
    width: 100%;

    li {
      list-style-type: none;
      position: relative;

      &:nth-child(8) {
        i {
          color: white;
          margin-right: 0.3em;
        }
      }

      &:nth-child(2) {
        i {
          // background-color: steelblue;
          color: steelblue;
          // border-radius: 8px;
          margin-right: 0.5em;
        }
      }

      &:nth-child(3) {
        i {
          // background-color: white;
          color: white;
          // border-radius: 3px;
          margin-right: 0.5em;
        }
      }

      &:nth-child(4) {
        i {
          // background-color: steelblue;
          color: steelblue;
          // border-radius: 2px;
          margin-right: 0.5em;
        }
      }

      &:first-child {
        font-weight: bold;

        span {
          color: var(--ac);
        }
      }

      form {
        display: flex;
      }

      input {
        padding: 0.5em;
        display: block;
        border: 1px solid white;
        box-shadow: 0px 0px 1px 2px white;
        font-family: "poppins";
        width: 100%;
      }
      button {
        padding: 0.5em;
        display: inline;
        background-color: rgb(218, 147, 56);
        // border: 1px solid var(--ac);
        box-shadow: 0px 0px 1px 2px white;
        outline-color: none;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-family: "poppins";
    font-size: 1rem;
  }
}

section.foot-bottom {
  color: white;
  padding: 0.5em;
  background-color: rgb(218, 147, 56);

  .container {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0px 0px 1px white;
  }
}
