* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
  font-family: "poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
:root {
  --color: white;
  --ac: rgb(218, 169, 106);
  --bg: #222;
}

body {
  background-color: var(--bg);
  position: relative;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.nav-cont1 {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(204, 144, 66, 0.226);
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 1.5em;
}
.nav-cont1 .nav-cont2 {
  display: flex;
  align-items: center;
  place-content: space-between;
  z-index: 2;
  width: 100%;
}
.nav-cont1 .nav-cont2 a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color);
  font-size: 1.2rem;
  z-index: 2;
}
.nav-cont1 .nav-cont2 i {
  font-size: 1.5rem;
  color: var(--color);
  z-index: 2;
  z-index: 2;
  cursor: pointer;
}
.nav-cont1 .nav-cont2 nav {
  display: none;
}

section.land-sect {
  height: 100vh;
  background-image: url(../images/Restaurant\ aesthetic.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
section.land-sect .cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section.land-sect .cont h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
}
section.land-sect .cont p {
  color: white;
  font-size: 1.1em;
  font-family: "roboto";
  line-height: 1em;
  font-style: italic;
}
section.land-sect .cont a {
  margin-top: 2em;
  padding: 1em;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.2em;
  font-family: "poppins";
  font-weight: bold;
  background-color: var(--ac);
  border-radius: 0.8em;
}
section.land-sect .cont a:hover {
  background-color: rgb(209, 178, 137);
}

article.big-cont {
  display: flex;
  flex-direction: column;
}
article.big-cont section.hero-sect {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2.5em;
}
article.big-cont section.hero-sect .img-cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
article.big-cont section.hero-sect .img-cont1 figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
article.big-cont section.hero-sect .img-cont1 figure figcaption {
  width: 85%;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  margin-top: 0.5em;
  font-style: italic;
}
article.big-cont section.hero-sect .img-cont1 figure img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
}
article.big-cont section.hero-sect .img-cont1 figure:nth-child(3),
article.big-cont section.hero-sect .img-cont1 figure:nth-child(4) {
  display: none;
}
article.big-cont section.hero-sect .story {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
article.big-cont section.hero-sect .story h1 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  word-spacing: 0.1em;
  font-family: "poppins";
  color: var(--ac);
}
article.big-cont section.hero-sect .story p {
  font-family: sans-serif;
}
article.big-cont section.hero-sect .story p:last-child {
  font-weight: bold;
}
article.big-cont .today-spec {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
article.big-cont .today-spec h1,
article.big-cont .today-spec h3 {
  text-align: center;
}
article.big-cont .today-spec h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: poppins;
  color: var(--ac);
  margin-top: 0.5em;
}
article.big-cont .today-spec h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 2em;
}
article.big-cont .today-spec h3 span {
  font-size: 1rem;
}
article.big-cont .today-spec .swiper {
  width: 70%;
}
article.big-cont .today-spec .swiper .swiper-button-prev,
article.big-cont .today-spec .swiper .swiper-button-next {
  color: rgb(218, 169, 106);
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}
article.big-cont .today-spec .swiper .swiper-slide {
  height: 360px;
  background-color: #333;
  border-radius: 1em;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont .star {
  display: flex;
  place-content: space-between;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont .star i {
  color: rgb(218, 169, 106);
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont .star a {
  display: inline;
  border-bottom: 2px solid rgb(218, 169, 106);
  font-family: "poppins";
  font-weight: bold;
  color: white;
  text-decoration: none;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont .star a:hover {
  color: rgb(218, 169, 106);
  border-bottom: none;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont p:first-child {
  font-size: 1.1rem;
  font-family: "poppins";
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont i.fa-clock {
  color: red;
}
article.big-cont .today-spec .swiper .swiper-slide .text-cont p.t {
  color: red;
  font-family: "poppins";
  display: inline;
  margin-left: 1.5em;
  font-size: 0.8rem;
}
article.big-cont .today-spec .swiper img {
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

section.discover {
  display: block;
  color: white;
  text-align: center;
  padding: 5em 2em;
}
section.discover .cont1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
section.discover .cont1 h1 {
  font-size: 1.5rem;
  font-family: "poppins";
}
section.discover .cont1 p {
  font-family: "mon";
}
section.discover .cont1 a {
  padding: 1em 2em;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.2em;
  font-family: "poppins";
  font-weight: bold;
  background-color: var(--ac);
  border-radius: 0.8em;
  margin-top: 0.5em;
}
section.discover .cont1 a:hover {
  background-color: rgb(209, 178, 137);
}
section.discover h1 {
  font-size: 2rem;
  font-family: "poppins";
  text-transform: capitalize;
  color: var(--ac);
}
section.discover h1 span {
  display: block;
}

section.comments {
  background-image: url("../images/buisness.jpeg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  margin-bottom: 2em;
}
section.comments h1 {
  text-align: center;
  margin-top: 1.5em;
  color: white;
  text-transform: capitalize;
  text-shadow: 0px 0px 1px rgb(218, 169, 106);
  font-family: "poppins";
}
section.comments .container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
section.comments .container .swiper {
  width: 70%;
}
section.comments .container .swiper .swiper-button-next,
section.comments .container .swiper .swiper-button-prev {
  color: rgb(218, 169, 106);
  text-shadow: 0px 0px 4px white;
  font-weight: bold;
}
section.comments .container .swiper .swiper-button-next:hover,
section.comments .container .swiper .swiper-button-prev:hover {
  color: white;
  text-shadow: 0px 0px 4px rgb 218, 169, 106;
}
section.comments .container .swiper .comment {
  display: flex;
  gap: 1em;
  color: white;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315);
  text-align: center;
  border-radius: 1em;
  padding: 1em 0.5em;
}
section.comments .container .swiper .comment img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

section.chef {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.chef .cont {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-family: "roboto";
  color: white;
  text-transform: capitalize;
  text-align: center;
}
section.chef .cont img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
}
section.chef .cont h3 {
  font-weight: bold;
  font-family: "roboto";
}
section.chef h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "poppins";
  color: var(--ac);
  margin: 0.5em;
}/*# sourceMappingURL=main.css.map */